// Heading Color
$heading-color: #1f1f2c;

// Text Color
$text-color: #636363;

// Default Background
$bg-default: #2929e4f5;

// Gray Background
$bg-gray: #f3f3f3;;

// Primary Color
$pri-color: #2929e4f5;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #070066;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color:#09389e;

// Footer Color
$footer-color: #09389e;

// Secondary Color
$secondary-color: #959595;