    <!-- ##### About Area Start ##### -->
    <section class="about-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Welcome To Holy Life Fellowship</h2>
                        <p>Welcome to Holy Life Fellowship where our interactions is determined and guided by the Holy Spirit. His love overwhelms us and we are mandated to share it with you. As a teaching ministry, we must teach and write down the divine vision so that they who read it will patiently wait for that appointed time, through hope and faith. The things for our everlasting peace, which GOD has written to us, are all made plain to him who understands. The Bible says, “They are all plain to him who understands, and right to those who find knowledge.” (Proverbs.8:9). We teach and publish these things with authority; GOD Himself has prefixed His explicit approval to them. He has said, “…make them plain.” </p>
                    </div>
                </div>
            </div>

            <div class="row about-content justify-content-center">
                <!-- Single About Us Content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="about-us-content mb-100">
                        <img src="{% static 'img/bg-img/3.jpg' %}" alt="">
                        <div class="about-text">
                            <h4>Our Church</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                            <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single About Us Content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="about-us-content mb-100">
                        <img src="{% static 'img/bg-img/4.jpg' %}" alt="">
                        <div class="about-text">
                            <h4>Our History</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                            <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single About Us Content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="about-us-content mb-100">
                        <img src="{% static 'img/bg-img/5.jpg' %}" alt="">
                        <div class="about-text">
                            <h4>Our Sermons</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                            <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->