{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ##### About Area Start ##### -->
    <section class="about-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Welcome To Holy Life Fellowship</h2>
                        <p>Holy Life Fellowship began in the year 2018 in Kenya, Nakuru City. It began as a small 
group of believers who came together, being driven by a hunger for GOD’s righteousness 
and holiness. The fellowship is founded on the core tenets of true holiness. </p>
                    </div>
                </div>
            </div>
<br>
             <div class="col-12">
                    <li>We believe and teach that the ultimate requirement of GOD upon mankind is to live 
a new life free from unwarranted controlling influence of the old life. We believe 
that GOD has made a provision for the reality of this new life in the Person of the 
Holy Spirit.
                    </li>
<br>

                    <li>We believe that Micah.6:8 determine the sum of the gospel of Christ which reflects 
the ultimate will of GOD for mankind. “He has shown you, O man, what is good; 
and what does the LORD require of you but to do justly, to love mercy, and to walk 
humbly with your God?” (Micah.6:8).
                    </li>
<br>

                    <li>We believe that the desire for holiness is a proclivity that GOD delights in and He 
will not despise such a soul. “The sacrifices of God are a broken spirit, a broken and 
a contrite heart-these, O God, You will not despise.” (Psalm.51:17). Consequently, 
we believe in the faithfulness of GOD and find comfort is such spiritual attitude, 
because we are fully persuaded that GOD “…satisfies the longing soul and fills the 
hungry soul with goodness.” (Psalm.107:9).
                    </li>
<br><br>

            <div class="col-12">
                    <div class="section-heading">
                        <h2>OUR MISSION</h2>
                        <p>We lead people to experience the holiness of GOD in the name of Jesus Christ, the 
Son of GOD. We have the mandate to teach the infallible and uncompromising 
word of GOD and to practice it as a means to demonstrate the selfless love of GOD 
to humanity irrespective of religion, creed, race or status.
NOTE: When somebody visits this page, let it be in such a way that he/she 
suddenly stumbles on “Welcome To Holy Life Fellowship” and then he/she goes 
on to the drop-down to find: Our Vision and Mission. </p>
                    </div>
                </div>
            </div>

                    </div>
    </section>
    <!-- ##### About Area End ##### -->
    {% endblock %}