{% extends 'base.html' %}
{% load static %}

{% block content %}    
    
        
    <!-- ##### Gallery Area Start ##### -->



   <div class="gallery-area d-flex flex-wrap">
        <!-- Single Gallery Area -->
        {% for picture in pictures %}
        <div class="single-gallery-area">
            
            <a href= '{{picture.thumbnail.url}}'>
                <img src="{{picture.thumbnail.url}}" alt="{{picture.title}}">
            </a>
        </div>
        
        {% endfor %}
        
    </div>

{% endblock %}    